<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Don't use any higher level config files. -->
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  <packageSources>
    <clear />
    <!-- TODO: Somehow gitlab ci runner isnt recognizing nuget.org as main source for package restore on solutions if this is not here-->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Keep this in sync with https://gitlab.weg.net/wtd-depto-engenharia-de-transformadores-de-distribuicao/wtd-pdi/registry/dotnet/nuget-package-registry/edit project ID field -->
    <!-- Disabled to enable gitlab-ci tests-->
    <add key="wtdE3Lib" value="https://gitlab.weg.net/api/v4/projects/5908/packages/nuget/index.json" allowInsecureConnections="True" />
  </packageSources>
  <packageSourceCredentials>
    <wtdE3Lib>
      <add key="Username" value="%GITLAB_PACKAGE_REGISTRY_USERNAME%" />
      <add key="ClearTextPassword" value="%GITLAB_PACKAGE_REGISTRY_PASSWORD%" />
    </wtdE3Lib>
  </packageSourceCredentials>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>